<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Component</title>
</head>
<body>
<h2>Using Include Style Layout</h2>

<!--
For Include Style LayOut
To Use Header as A fragement insert
th:fragment attribute
then call
th:replace attr
on the element you want to replace its content with
eg.
th:fragment="header"
th:replace="fileName :: header"
-->
<footer class="mastfoot mt-auto" th:fragment="footer">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
</footer>
</body>
</html>